.details {
  @extend .p-5;

  h3 {
    @extend .font-family-accent;
    @extend .font-size-1;
    text-shadow: 1px 1px 1px $primary;

    .back-btn {
      @extend .mt-3;
      @extend .mr-3;
      @extend .font-family-secondary;
      @extend .font-size-2;
      @extend .color-accent;
      @include transition(all 0.3s ease-in-out);
      text-decoration: none;

      &:hover {
        @extend .color-accent-hover;
      }
    }

    a {
      @extend .color-accent-hover;
    }

    img {
      box-shadow: 1px 1px 1px transparentize($primary, 0.5), 1px 1px 20px transparentize($primary, 0.6);
      border-radius: 100px;
    }

    .extra-info {
      @extend .font-family-accent;
      @extend .font-size-4;
      @extend .color-accent-hover;
      text-shadow: 1px 1px 1px $grey-1;
    }
  }

  hr {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid transparentize($primary, 0.8);
    border-left: none;
  }

  .loading {
    @extend .mt-1;
    @include transition(all 0.5s ease-in-out);
    text-align: center;
    float: right;

    .loader {
      width: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;

      .logo-wrapper {
        @extend .color-accent-hover;
        @extend .font-size-4;
        @extend .font-family-accent;
        width: 80px;
        height: 80px;
        line-height: 77px;
        position: absolute;

        img {
          max-width: 30px;
          margin-top: 17px;
        }
      }

      .spinner {
        border: 2px solid transparentize($accent-hover, 0.85);
        border-radius: 50%;
        border-top: 2px solid $accent-hover;
        width: 40px;
        height: 40px;
        box-shadow: 0 0px 40px 0 transparentize($accent-hover, 0.8);
        animation: spin 2s linear infinite;
      }
    }
  }
  @include loader(20);
}

.modal {
  @extend .w-100;
  @extend .h-75;
  @extend .d-flex;
  padding-top: 15vh;
  position: absolute; 
  top: 0; 
  left: 0;

  .container {
    @extend .mt-5;
    @extend .mb-5;
    @extend .background-color-grey-6;
    border-radius: 25px;
    position: absolute;
    z-index: 2;
  }

  .backdrop {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(15deg, $accent, transparentize(#4b2acfb8, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
}
