.details {
  @include border-radius(5px);
  @include transition(all 0.2s ease-out);
  min-height: 90px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
	margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px $grey-8;

  .details-header {
    display: flex;
    align-items: center;
    flex: 1;

    .arrow {
      margin-left: 30px;
      margin-right: 10px;
      display: inline-flex;
      cursor: pointer;
    }

    .picture {
      @include border-radius(3px);
      margin: 20px 13px 20px 8px;
      display: inline-flex;
    }

    .text-container {
      padding: 8px;
      display: inline-flex;
      flex-direction: column;
      flex: 1;

      .text-line {
        width: 100%;
        display: flex;
        flex-basis: auto;
        align-items: center;
        flex: 1;

        .name {
          margin-top: 5px;
          margin-bottom: 5px;
        }
        .id {
          margin-top: 7px;
          margin-bottom: 5px;
          word-break: break-all;
        }
        p {
          margin-top: 5px;
          margin-bottom: 9px;
        }
      }
    }
  }

  hr {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $grey-6;
    border-left: none;
  }

  .btn {
    @include border-radius(50px);
    @include transition(all 0.2s ease-out);
    min-width: 111px;
    min-height: 41px;
    background-color: transparentize($accent, 0.5);
    border: none;
    font-weight: $bold;
    font-family: $font_primary;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: $accent;
      box-shadow: 0 10px 10px 0 transparentize($primary, 0.85);
    }
    &:focus {
      outline: none;
    }
    &:active {
      background-color: transparentize($accent, 0.2);
      box-shadow: 0 8px 8px 0 transparentize($primary, 0.8);
      transform: translate(0px, 2px);
    }
  }
}
