<div *ngIf="loading">
  <div class="loading" [ngbTooltip]="'Loading'">
    <div class="loader" @fade>
      <div class="logo-wrapper">Loading</div>
      <div class="spinner"></div>
    </div>
  </div>
</div>

<ng-container *ngIf="!loading && data?.length else noSearchTerm">
  <div class="list page">
    <h3>
      <small>{{data?.length ? ('('+ data.length +') ') : ''}}</small>
      Users found 🙌
    </h3>
    <hr>
    <ul @fade>
      <li *ngFor="let item of data" class="text-center">
        <a class="w-100" [routerLink]="['/user/', item.login]" [ngbTooltip]="'View '+ item.login +' details'">
          <img [alt]="item.login" [width]="75" [height]="75" [src]="item.avatar_url">
          <p>
            {{item.login}}
          </p>
        </a>
      </li>
    </ul>
  </div>
</ng-container>

<ng-template #noSearchTerm>
  <div *ngIf="!loading" class="row mt-5">
    <div class="col">
      <div class="w-100 text-center mt-5 color-accent-hover font-family-accent">
        <span class="font-size-3">The searched term '{{searchTerm}}' has no results found 🙊</span>
      </div>
    </div>
  </div>
</ng-template>