/* Theme colors */
$background: #f8f9fd;
$background-active: #f8f9fd;
$primary: #24ddeb;
$accent: #712acf;
$accent-hover: #c9ff74;
$grey-1: #363840;
$grey-2: #4c5964;
$grey-3: #808080;
$grey-4: #81879c;
$grey-5: #7b7e8c;
$grey-6: #e6e8f0;
$grey-7: #f8f9fd;
$grey-8: #f9f9f9;
$grey-9: #d3d5e0;
$grey-10: #fcfcfe;

$colors: (
  "bg": $background,
  "bg-active": $background-active,
  "primary": $primary,
  "accent": $accent,
  "accent-hover": $accent-hover,
  "grey-1": $grey-1,
  "grey-2": $grey-2,
  "grey-3": $grey-3,
  "grey-4": $grey-4,
  "grey-5": $grey-5,
  "grey-6": $grey-6,
  "grey-7": $grey-7,
  "grey-8": $grey-8,
  "grey-9": $grey-9,
  "grey-10": $grey-10,
);

/* Font config */
/* Font Families */
$font_primary: 'Quicksand', sans-serif;
$font_secondary: 'Share Tech', sans-serif;
$font_accent: 'Share Tech Mono', monospace;

$font_families: (
  "primary": $font_primary,
  "secondary": $font_secondary,
  "accent": $font_accent,
);

/* Font sizes */
$font_sizes: (
  1: 39px,
  2: 29px,
  3: 19px,
  4: 13px,
  5: 12px,
  6: 10px,
);

/* Font weight */
$light: 100;
$regular: 200;
$medium: 300;
$bold: 400;
$extrabold: 500;
$black: 600;

$font_weights: (
  "light": $light,
  "regular": $regular,
  "medium": $medium,
  "bold": $bold,
  "extrabold": $extrabold,
  "black": $black,
);

/* Build */
.vars {
  /* Colors */
  @each $name, $color in $colors {
    /* make colors accessible via: var(--color-name) */
    --c-#{$name}: #{$color};

    /* class */
    .color-#{$name} {
      color: #{$color};
    }

    /* background */
    .background-color-#{$name} {
      background-color: #{$color};
    }
  }

  /* Font Families */
  @each $name, $font_family in $font_families {
    --ff-#{$name}: #{$font_family};

    /* class */
    .font-family-#{$name} {
      font-family: $font_family;
    }
  }

  /* Font sizes */
  @each $number, $font_size in $font_sizes {
    --fs-#{$number}: #{$font_size};

    /* class */
    .font-size-#{$number} {
      font-size: $font_size;
    }
  }

  /* Font weight */
  @each $name, $font_weight in $font_weights {
    --fw-#{$name}: #{$font_weight};

    /* class */
    .font-weight-#{$name} {
      font-weight: $font_weight;
    }
  }
}
